@import 'tailwindcss';
/* Disable text selection globally */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Allow selection ONLY for inputs */
input,
textarea {
  user-select: text;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-progress {
  animation: progress linear forwards;
}
