@import 'tailwindcss';
/* Disable text selection globally */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Allow selection ONLY for inputs */
input,
textarea {
  user-select: text;
}
