name: CI - Backend Checks

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    env:
      HUSKY: 0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm install

      - name: Backend install
        run: |
          cd backend
          npm install

      - name: Run Backend Lint
        run: |
          cd backend
          npm run lint --if-present

      - name: Run Backend Tests
        run: |
          cd backend
          npm test --if-present

      - name: Backend Build
        run: |
          cd backend
          npm run build --if-present
