name: CD - Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            set -e
            cd /var/www/car-cleaning/car-cleaning-service
            git pull origin main

            export HUSKY=0

            cd backend
            npm install
            npm run build

            pm2 restart car-cleaning-api
            pm2 save
